section#hi
	.row
		div#intro
			h1 Blaine Billingsley
			h4 I am an Experience Designer in Oakland, CA
		// TODO: Eventually my beautiful head will go here.
		// img(src=)
section#works
	//- .section-header: h6 Work
	.row
		for work, slug in public.work._data
			article.article.one-half.column
				a(class="thumbnail-wrapper thumbnail-#{ slug }" href="/work/#{ slug }")
					img(class="thumbnail" src="/images/thumbnails/#{ slug }.png")
					img(class="logo" src="/images/thumbnails/#{ slug }_logo.png")
				h3: a(href="/work/#{ slug }")= work.title
				p= work.tagline
section#music
	.section-header: h6 Music
section#writing
	.section-header: h6 Writing
